/*Hoja de Estilos para Proyecto Final CSS para Certificación en Next U version 1.0*/


/*----------------------------------*/
/* Inicio Estilos generales*/
/*----------------------------------*/

body{
	font-family: 'Dancing Script', cursive;
	background-color: #02010a;
	margin: 0;
}

.contenido img, .contenido-dos img {
	-webkit-box-shadow: 2px 2px 0px 0px #02010a;
	-moz-box-shadow: 2px 2px 0px 0px #02010a;
	box-shadow: 2px 2px 0px 0px #02010a;
}

a:-webkit-any-link {
    color: black;
}
/*----------------------------------*/
/* Inicio Estilos generales*/
/*----------------------------------*/

/*----------------------------------*/
/* Inicio Estilos de menú*/
/*----------------------------------*/

#header {
	background-color: #5b7989;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	border-radius: 10px 10px 0px 0px;
	animation: slidein 3s;
}

#header .titulo{
	text-shadow: 2px 2px #02010a;
	padding: 15px;
	color: white;
	flex-grow: 8;
}

#header .menu{
	color: white;
	font-size: 20px;
}

#header .menu a:visited,#header .menu a:hover, #header .menu a {
	color: white;
}

#header .menu a.selected {
    text-decoration: none;
}

ul{
	list-style: none;
	overflow: hidden;
}

li{
	float: left;
	display: block;
	padding: 15px;
}

/*----------------------------------*/
/* Fin Estilos de menú*/
/*----------------------------------*/


/*----------------------------------*/
/* Inicio Estilos de contenido HOME*/
/*----------------------------------*/

.contenido {
	max-width: 900px;
	margin: auto;
}

.imagen-principal {
	background-color: #82c3a6;
	text-align:center;
}
#imagen-principal {
	width: 80%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.imagenes-secundarias{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #d5c75f;
}

.imagen-uno, .imagen-dos {
	width: 50%;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;

}

.imagen-uno a img, .imagen-dos a img {
	width: 80%;
}

.imagen-uno img:hover {
	transform: rotate(10deg);
	transition-duration: 2s;
	-webkit-box-shadow: 2px 2px 0px 0px  #82c3a6;
	-moz-box-shadow: 2px 2px 0px 0px  #82c3a6;
	box-shadow: 2px 2px 0px 0px  #82c3a6
}

.imagen-dos img:hover {
	transform: translate(20px, -5px);
	transition-duration: 2s;
	-webkit-box-shadow: 2px 2px 0px 0px  #82c3a6;
	-moz-box-shadow: 2px 2px 0px 0px  #82c3a6;
	box-shadow: 2px 2px 0px 0px  #82c3a6
}
/*----------------------------------*/
/* Fin Estilos de contenido HOME*/
/*----------------------------------*/

/*----------------------------------*/
/* Inicio Estilos de contenido RETRATOS*/
/*----------------------------------*/
.contenido-dos {
	max-width: 900px;
	margin: auto;
	background-color: #d5c75f;
}

.contenido-dos h1 {
	text-align: center;
	padding-top: 20;
    margin: 0;
}

.fila {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around
}

div[class|="img"]{
	flex-basis: 30%
}

div[class|="img"] img{
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.img-uno {
	-webkit-filter: blur(10px);
    filter: blur(10px);
}

.img-dos, .img-cuatro, .img-seis {
	-webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}

.img-tres {
	-webkit-filter: sepia(90%);
    filter: sepia(90%);
}
/*----------------------------------*/
/* Fin Estilos de contenido RETRATOS*/
/*----------------------------------*/

/*----------------------------------*/
/* Inicio de Animaciones*/
/*----------------------------------*/
 @-webkit-keyframes slidein{
 	0% {
 		margin-top: 150%;
 	}

 	60% {
 		margin-top:-5%;
 	}
 	100% {
 		margin-top: 0;
 	}
 }
/*----------------------------------*/
/* Fin de Animaciones*/
/*----------------------------------*/


/*----------------------------------*/
/* Inicio Estilos de Footer*/
/*----------------------------------*/

footer{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border-radius: 0px 0px 10px 10px;
	background-color: #C6d5c5;
}
footer > div {
	flex-basis: 25%;
}

.texto {
	padding-left: 5%;
}

#redes-sociales img {
	width: 30px;
	height: 30px;
}

.acomodo-iconos {
	display: flex;
    flex-flow: wrap column;
    flex-basis: 100%;
}

.acomodo-iconos a, .acomodo-iconos a:visited{
	color: black;
}

/*----------------------------------*/
/* Fin Estilos de Footer*/
/*----------------------------------*/


/*----------------------------------*/
/* Inicio Estilos de Responsivos*/
/* Omitire comentar ya que los nombres son muy obvios y están previamente
especificados en los estilos de arriba */
/*----------------------------------*/

@media only screen and (max-width: 425px) {
	.contenido{
		width: 100%;
	}

	#header .menu, #header .titulo {
		flex-grow: 0;
		margin: auto;
	}

	.imagen-uno, .imagen-dos {
		width: 100%
	}

	footer > div {
		padding: 5%;
		flex-basis: 100%;
		text-align: left;
	
	}

	div[class|="img"] {
    flex-basis: 80%;
	}

}


/*----------------------------------*/
/* Fin Estilos de contenido*/
/*----------------------------------*/