/*Hoja de Estilos para Proyecto Final CSS para Certificación en Next U version 1.0*/


/*----------------------------------*/
/* Inicio Estilos generales*/
/*----------------------------------*/

body{
	font-family: 'Dancing Script', cursive;
	background-color: #02010a;
	margin: 0;
}

/*----------------------------------*/
/* Inicio Estilos generales*/
/*----------------------------------*/

/*----------------------------------*/
/* Inicio Estilos de menú*/
/*----------------------------------*/

#header {
	background-color: #5b7989;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	border-radius: 10px 10px 0px 0px;
}

#header .titulo{
	text-shadow: 2px 2px #02010a;
	padding: 15px;
	color: white;
	flex-grow: 8;
}

#header .menu{
	color: white;
	font-size: 20px;
}

#header .menu a:visited, a:hover{
	color: white;
}

#header .menu a.selected {
    text-decoration: none;
}

a:-webkit-any-link {
    color: white;
}

ul{
	list-style: none;
	overflow: hidden;
}

li{
	float: left;
	display: block;
	padding: 15px;
}

/*----------------------------------*/
/* Fin Estilos de menú*/
/*----------------------------------*/


/*----------------------------------*/
/* Inicio Estilos de contenido*/
/*----------------------------------*/

.contenido {
	max-width: 900px;
	margin: auto;
}

.imagen-principal {
	background-color: #82c3a6;
	text-align:center;
}
#imagen-principal {
	width: 80%;
}

.imagenes-secundarias{
	display: flex;
	flex-flow: row wrap;
	background-color: #d5c75f;
}

.imagen-uno, .imagen-dos {
	width: 50%;
	text-align: center;
}

.imagen-uno > img, .imagen-dos > img {
	width: 50%;
}
/*----------------------------------*/
/* Fin Estilos de contenido*/
/*----------------------------------*/

/*----------------------------------*/
/* Inicio Estilos de Footer*/
/*----------------------------------*/

footer{
	position: fixed;
	bottom: 0;
}

/*----------------------------------*/
/* Fin Estilos de Footer*/
/*----------------------------------*/


/*----------------------------------*/
/* Inicio Estilos de Responsivos*/
/* Omitire comentar ya que los nombres son muy obvios y están previamente
especificados en los estilos de arriba */
/*----------------------------------*/

@media only screen and (max-width: 425px) {
	.contenido{
		width: 100%;
		margin-top: 160px;
	}

	#header .menu, #header .titulo {
		flex-grow: 0;
		margin: auto;
	}

}


/*----------------------------------*/
/* Fin Estilos de contenido*/
/*----------------------------------*/