/*Hoja de Estilos para Proyecto Final CSS para Certificación en Next U version 1.0*/


/*----------------------------------*/
/* Inicio Estilos generales*/
/*----------------------------------*/

body{
	font-family: 'Dancing Script', cursive;
	background-color: #02010a;
	margin: 0;
}

/*----------------------------------*/
/* Inicio Estilos generales*/
/*----------------------------------*/

/*----------------------------------*/
/* Inicio Estilos de menú*/
/*----------------------------------*/

#header {
	background-color: #5b7989;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	border-radius: 10px 10px 0px 0px;
}

#header .titulo{
	text-shadow: 2px 2px #02010a;
	padding: 15px;
	color: white;
	flex-grow: 8;
}

#header .menu{
	color: white;
	font-size: 20px;
}

#header .menu a:visited, a:hover{
	color: white;
}

#header .menu a.selected {
    text-decoration: none;
}

a:-webkit-any-link {
    color: white;
}

ul{
	list-style: none;
	overflow: hidden;
}

li{
	float: left;
	display: block;
	padding: 15px;
}

/*----------------------------------*/
/* Fin Estilos de menú*/
/*----------------------------------*/


/*----------------------------------*/
/* Inicio Estilos de contenido*/
/*----------------------------------*/

.contenido {
	max-width: 900px;
	margin: auto;
}

.imagen-principal {
	background-color: #82c3a6;
	text-align:center;
}
#imagen-principal {
	width: 80%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.imagenes-secundarias{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #d5c75f;
}

.imagen-uno, .imagen-dos {
	width: 50%;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;

}

.imagen-uno > img, .imagen-dos > img {
	width: 80%;
}
/*----------------------------------*/
/* Fin Estilos de contenido*/
/*----------------------------------*/

/*----------------------------------*/
/* Inicio Estilos de Footer*/
/*----------------------------------*/

footer{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border-radius: 0px 0px 10px 10px;
	background-color: #C6d5c5;
}
footer > div {
	flex-basis: 25%;
}

.texto {
	padding-left: 5%;
}
/*----------------------------------*/
/* Fin Estilos de Footer*/
/*----------------------------------*/


/*----------------------------------*/
/* Inicio Estilos de Responsivos*/
/* Omitire comentar ya que los nombres son muy obvios y están previamente
especificados en los estilos de arriba */
/*----------------------------------*/

@media only screen and (max-width: 425px) {
	.contenido{
		width: 100%;
	}

	#header .menu, #header .titulo {
		flex-grow: 0;
		margin: auto;
	}

	.imagen-uno, .imagen-dos {
		width: 100%
	}

	footer > div {
		padding: 5%;
		flex-basis: 100%;
		text-align: left;
	
	}

}


/*----------------------------------*/
/* Fin Estilos de contenido*/
/*----------------------------------*/